#app {
    font-family: Noto Sans KR;
    font-style: normal;
}

.ir {
    font-size: 0;
}

.vending-machine {
    width: 360px;
    height: 545px;
    /* border: 2px solid #FFFFFF; */
    border: 2px solid #000;
    box-sizing: content-box;
    padding: 31px 27px 28px 27px;
}

.list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin-bottom: 8px;
}

.btn-item {
    width: 97px;
    height: 133px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.img-item {
    margin-top: 11.07px;
    width: 36px;
    height: 65px;
}

.tit-item {
    margin-top: 6.07px;
}

.txt-item {
    margin-bottom: 9px;
    width: 70px;
    height: 22px;
    background: #6327FE;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
}

.cont-return,
.cont-put,
.cont-get {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 11px
}

.info-balance,
.inp-put {
    background: #EAE8FE;
    width: 200px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.inp-put {
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
}

.btn-return,
.btn-put .btn-get {
    /* clear: both; */
    width: 94px;
    height: 32px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.cont-get {
    background-color: #EAE8FE;
    width: 200px;
    height: 134px;
    overflow-y: scroll;
}

.item-staged {
    width: 170px;
    height: 46px;
    background-color: #EAE8FE;
}